

/*nuevos estilos a 29/05/2024*/
.menu_contenedor{
    list-style: none;
    width:300px;
    background: rgb(166, 243, 166);
    margin: 0px;
    
}


.menu{
   
    font-size: 12px;
    padding:10px;
    border:1px solid;

}



.submenu2{
    display:none;
    width:300px;
  
    background: rgb(166, 243, 166);
    margin:3px;
    font-size:12px;
    border:1px solid;
}

.submenu1{
    display:none;
    width:300px;
   
    background: rgb(166, 243, 166);
    margin:3px;
    font-size: 12px;
    border:1px solid;
   
}

.submenu{
    display:none;
    width:300px;
    
    background: rgb(166, 243, 166);
    margin:3px;
    font-size: 12px;
    border:1px solid;
   
}


.menu:hover  .submenu{
    display:flex; 
}

.menu .submenu:hover  .submenu1{
    display:flex;
}
.menu .submenu1:hover  .submenu2 {
    display: flex; 
}

a{
    text-decoration: none;
}

